$bp-medium: 768px;

.form-input {
  color: #ccc;
  background: #ffffff20;
  border: 0;
  padding: 8px;
  outline: none;
  font-size: 14px;
  min-width: 150px;
}

.form-button {
  color: #ccc;
  background: #ffffff20;
  border: 0;
  padding: 8px;
  outline: none;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
}

@media screen and (min-width: $bp-medium) {
  .form-input {
    font-size: 16px;
    min-width: 250px;
  }

  .form-button {
    font-size: 16px;
  }
}

